<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to VertexItService, <%= @profile.full_name %></h1>
    <p>
      Your login password is<br>
    </p>
    <p>Your Password validationtion is</p>
  </body>
</html>