

<%= render :layout => 'layouts/popup', :locals => {:title => 'some title'} do %>
	
	<div class="flex_row">
		<div class="flex_col col25"> Closing Consultant: </div>
		<div class="flex_col" id="close_consultant_name_container"> [Consultant Name] </div>
	</div>
	<div class="flex_row">
		<div class="flex_col col25">Close Date: </div>
		<div class="flex_col">
			<%= text_field_tag 'time_sheet_date_range',
				  Date.today,
				  class: 'form-control daterange',
				  id:"close_consultant_field_date" 
				  %>
		</div>
	</div>
	<div class="flex_row">
		<div class="flex_col col25">Reason: </div>
		<div class="flex_col"><input type="text" id="close_consultant_field_reason"></div>
	</div>
	<div class="flex_row">
		<div class="flex_col col25">Notes: </div>
		<div class="flex_col"><input type="text" id="close_consultant_field_notes"></div>
	</div>
	<div class="flex_row" style="display:none">
		<div class="flex_col"><input type="text" id="close_consultant_field_employee"></div>
	</div>
	
	<div class="clr"></div>
	<div style="float:right"> 
		<a href="#" id="submit_close_form_link" style="padding:10px;background:#EEE">Disable Consultant</a> 
	</div>
	<div class="clr"></div>
	
<% end %>