<script>
	
	$(document).ready(function() {
		$(".disable_consultant_link").click(function(e) {
		    e.preventDefault();
			$("#popup1").css({"visibility":"visible","opacity":"1"});
			$("#close_consultant_field_employee").val($(this).attr("employee_id"));
			$("#close_consultant_name_container").html($(this).attr("employee_name"));
		});
		
		$("#submit_close_form_link").click(function(e) {
		    e.preventDefault();
			
			var link = "/employees/disable_consultant";
			var emp_id = $("#close_consultant_field_employee").val();
			var close_date = $("#close_consultant_field_date").val();
			var reason = $("#close_consultant_field_reason").val();
			var notes = $("#close_consultant_field_notes").val();
			
			//alert("id: " + emp_id + ", date: " + close_date + ", reason: " + reason + ", notes: " + notes);
			
			$.ajax({
		 			  url: link,
		 			  type: 'PUT',
			  beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
		 			  data: "disable_reason="+reason+"&disable_date="+close_date+"&disable_notes="+notes+"&emp_id="+emp_id,
		 			  success: function(data) {


				if($.trim(data["result"]) == "true"){
					//alert("Successfully closed consultant");
					location.reload();
					// 			  				$("#action_buttons_container_"+data["id"]).hide();
					// 			  				$("#action_loader_container_"+data["id"]).hide();
					//
					// //alert("status div: status-div-"+data["id"]);
					//
					// $("#status-div-"+data["id"]).html(data["status"].toUpperCase());
					// $("#status-div-"+data["id"]).removeClass('pending');
					// $("#status-div-"+data["id"]).addClass(data["status"]);
				} else {
					alert("Failed to update status. Please try again.");
					// $("#action_buttons_container_"+data["id"]).show();
					// $("#action_loader_container_"+data["id"]).hide();
				}

		 			  },
					  
			  error: function (data) {
		   			    alert('Failed to update status.' + JSON.stringify(data));
		  				// $("#action_buttons_container_"+data["id"]).show();
// 		  				$("#action_loader_container_"+data["id"]).hide();
		              }

			});
		});
	});
	
</script>

<%= render :layout => 'layouts/popup', :locals => {:title => 'some title'} do %>
	
	<div class="flex_row">
		<div class="flex_col col25"> Closing Consultant: </div>
		<div class="flex_col" id="close_consultant_name_container"> [Consultant Name] </div>
	</div>
	<div class="flex_row">
		<div class="flex_col col25">Close Date: </div>
		<div class="flex_col">
			<%= text_field_tag 'time_sheet_date_range',
				  Date.today,
				  class: 'form-control daterange',
				  id:"close_consultant_field_date" 
				  %>
		</div>
	</div>
	<div class="flex_row">
		<div class="flex_col col25">Reason: </div>
		<div class="flex_col"><input type="text" id="close_consultant_field_reason"></div>
	</div>
	<div class="flex_row">
		<div class="flex_col col25">Notes: </div>
		<div class="flex_col"><input type="text" id="close_consultant_field_notes"></div>
	</div>
	<div class="flex_row" style="display:none">
		<div class="flex_col"><input type="text" id="close_consultant_field_employee"></div>
	</div>
	
	<div class="clr"></div>
	<div style="float:right"> 
		<a href="#" id="submit_close_form_link" style="padding:10px;background:#EEE">Disable Consultant</a> 
	</div>
	<div class="clr"></div>
	
<% end %>