<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @vendor.name %> <%# link_to 'Edit', edit_vendor_path(@vendor) %>
</p>

<div class="admin_profile_content"> 
		<div class="admin_profile_content_heading">Employees</div>
		<div class="admin_profile_content_value">
			<div class="admin_profile_vendor_row_top">
				<div class="admin_profile_vendor_col">
					Name
				</div>
				<div class="admin_profile_vendor_col">
					Billable Hours
				</div>
				<div style="clear:both"></div>
			</div>
			<% @vendor.employees.each_with_index do |employee, index| %>

				<div class="admin_profile_vendor_row" style="background:<%= index % 2 == 0 ? "#EEE" : "#DDD" %>">
				
				<div class="admin_profile_vendor_col">
					<%= link_to employee.profile.full_name, employee %>
				</div>
				<div class="admin_profile_vendor_col">
					<%# employee.weekly_hours_worked .reject { |item| item.blank? }%>

				</div>
				<div style="clear:both"></div>
			</div>
			<% end%>
		</div>
	</div>
