// Place all the styles related to the Employees controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.full-image-bg{
	position: absolute;
    height: 130%;
    width: 100%;
    left: 0px;
    top: 0px;
    background: rgba(0, 0, 0, 0.75);
    z-index: 100;
}
.full-image{
    margin: 0 auto;
    width: fit-content;
    margin-top: 100px;
}

.action_button_container{
	float:left;
	margin-left:10px;
}
.time_sheet_action{
	font-size:30px !important;
}
.action_button_div{
    padding: 0px;
    margin: 0px;
    line-height: 5px;
}
.approve { color:green; }
.approve a { color:green; }
.approve a:visited { color:green; }
.approve a:hover { color:lightgreen; }

.reject { color:red; }
.reject a { color:red; }
.reject a:visited { color:red; }
.reject a:hover { color:darkred; }

.loader {
  border: 6px solid #E3E3E3; /* Light grey */
  border-top: 6px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 26px;
  height: 26px;
  animation: spin 2s linear infinite;
  margin:0 auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
