<div class="page-footer">
<div class="footer_content" style="display:flex;flex-direction:row;justify-content: space-evenly;color:#FFF;margin-left:auto;margin-right:auto;font-family: Roboto;">
	<div class="footer_message" style="line-height:60px;font-size:14px">
		© 2021 Vertex IT Systems. Component copyrights belongs to their authors.  
	</div>
	<div class="footer_actions" style="float:left;font-size:12px;line-height:14px;padding-top:10px">
		<span class="footer_action_title" style="padding-right:36px;"> Email:      </span> <a mailto="support@vertexitservice.com">support@vertexitservice.com</a> <br />
		<span class="footer_action_title" style="padding-right:5px;"> Contact No: </span> <a href="#">Contact</a> <br />
		<span class="footer_action_title" style="padding-right:22px;"> Website:    </span> <a href="http://vertexitservice.com">www.vertexitservice.com</a> <br />
	</div>
</div>
</div>