<div class="page-footer">
<div class="footer_content" style="display:flex;flex-direction:row;justify-content: center;color:#FFF;font-family: Roboto;margin-left:40px">
	<div class="footer_message">
		
		<span class="footer_action_title" > 
			© 2021 Vertex IT Systems. Component copyrights belongs to their authors. 
		</span>

		<span class="footer_action_title" > 
			<% if false %>
			<b><i class="material-icons" style="font-size: 12px;">email</i></b> 
			<% end %>
			<b>Email:</b><a mailto="support@vertexitservice.com">contact@vertexitsystems.com</a>
		</span>
		
		<span class="footer_action_title"> 
			<% if false %>
			<b><i class="material-icons" style="font-size: 12px;">phone</i></b> 
			<% end %>
			<b>Phone:</b>(720) 672 0616
		</span>
		
		<span class="footer_action_title">
			<!--
			<b><i class="material-icons" style="font-size: 12px;">language</i></b> 
			-->
			<b>Website:</b><a href="http://vertexitservice.com">www.vertexitsystems.com</a>
		</span> 
		
	</div>
	
</div>
</div>