<div class="page-footer">
<div class="footer_content" style="display:flex;flex-direction:row;justify-content: left;color:#FFF;font-family: Roboto;margin-left:40px">
	<div class="footer_message">
		© 2021 Vertex IT Systems. Component copyrights belongs to their authors. 
		<br /> 

		<span class="footer_action_title" > 
			<b><i class="material-icons" style="font-size: 12px;">email</i></b> 
			<a mailto="support@vertexitservice.com">support@vertexitservice.com</a>
		</span>
		
		<span class="footer_action_title"> 
			<b><i class="material-icons" style="font-size: 12px;">phone</i></b> 
			+1 704-326-1781
		</span>
		
		<span class="footer_action_title">
		<b><i class="material-icons" style="font-size: 12px;">language</i></b> 
		<a href="http://vertexitservice.com">www.vertexitservice.com</a>
		</span> 
		
	</div>
	
</div>
</div>